<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi <%= @agent.name %>,</h1>
    <p>
      Your account has been created successfully, your login details are<br>
      Email: <%@agent.email%>
      password=<%@password%><br>
      You are Required to change your password...

    </p>
 <br>   
    <p>Thanks for Using our website, have a great day</p>
  </body>
</html>