<!DOCTYPE html>
<html>
<head>
<style>
.br{
  margin-left:4%;
  margin-top:1%;
}
body{
	margin:0;
	color:#6a6f8c;
	background:#808080;
	font:600 16px/18px 'Open Sans',sans-serif;
  background-color: ; 
}
.wt{
  color:white;
}
</style>
</head>
<body>

<br>
<div class="row">
<%= link_to "back", display_prop_path,style:"color:white;margin-left:10%;"%>

<div style="margin-left:40%;color:white"> Edit/Delete your property images</div>

</div>
<br><br><br>

 <%(0...@property.images.count).each do |img| %>
<%= image_tag(@property.thumbnail(img),class:"br")%>
 <%= link_to 'Remove', delimageattachment_url(@property.images[img]),class:"wt" %>
 <%end%>

</div>

</body>
</html>