<!DOCTYPE html>
<html>
<head>
<style>
.br{
  margin-left:4%;
  margin-top:1%;
}
body{
	margin:0;
	color:#6a6f8c;
	background:#999999;
	font:600 16px/18px 'Open Sans',sans-serif;
  background-color: ; 
}
.wt{
  color:white;
}
.button{
  margin-left:10%;
  padding:1%;
  border: none;border-radius: 10px;
  font-size: 14px;display: inline-block;
 	background-color: #737373;
 	margin-left:49px;color: white;
  cursor: pointer;
}
</style>
</head>
<body>

<br>
<%= link_to "Back", edit_property_path(@property),class:"button"%>

<div style="text-align:center;color:white"> Edit/Delete your property images</div>

</div>
<br><br><br>

 <%(0...@property.images.count).each do |img| %>
<%= image_tag(@property.thumbnail(img),class:"br")%>
 <%= link_to 'Remove', delimageattachment_url(@property.images[img]),class:"wt" %>
 <%end%>

</body>
</html>